# Loading and Processing Data

In [5]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_excel('/Users/hamiddastgir/Desktop/mgddll6.xlsx')

In [13]:
data.head()

,Unnamed: 0,CASEID,VISIT,DNAME,DCLASS,NRTI,NNRTI,PI,OTHER,MISSING,...,LYMPLC,LYMPLC_INC,LPCTLC,LPCTLC_INC,LPMMLC,LPMMLC_INC,POLYLC,POLYLC_INC,PPCTLC,PPCTLC_INC
0,0,1000,40,Atripla,NNRTI NRTI,1,1,0,0,0,...,3,0.0,31.0,0.000000,-1,0.000000,3,0.0,58.0,0.000000
1,1,1000,41,Atripla,NNRTI NRTI,1,1,0,0,0,...,3,0.0,23.0,-0.258065,-1,0.000000,3,0.0,66.0,0.137931
2,2,1000,42,Triumeq,OTHER,0,0,0,1,0,...,3,0.0,33.0,0.434783,-1,0.000000,3,0.0,56.0,-0.151515
3,3,1003,9,Retrovir Epivir,NRTI NRTI,1,0,0,0,0,...,3,0.0,22.2,0.000000,700,0.000000,3,0.0,64.9,0.000000
4,4,1003,10,Retrovir Epivir,NRTI NRTI,1,0,0,0,0,...,3,0.0,32.2,0.450450,1200,0.714286,3,0.0,48.9,-0.246533

In [15]:
data = data.drop('Unnamed: 0', axis = 1)

In [16]:
data.head()

,CASEID,VISIT,DNAME,DCLASS,NRTI,NNRTI,PI,OTHER,MISSING,VLOAD,...,LYMPLC,LYMPLC_INC,LPCTLC,LPCTLC_INC,LPMMLC,LPMMLC_INC,POLYLC,POLYLC_INC,PPCTLC,PPCTLC_INC
0,1000,40,Atripla,NNRTI NRTI,1,1,0,0,0,20.0,...,3,0.0,31.0,0.000000,-1,0.000000,3,0.0,58.0,0.000000
1,1000,41,Atripla,NNRTI NRTI,1,1,0,0,0,20.0,...,3,0.0,23.0,-0.258065,-1,0.000000,3,0.0,66.0,0.137931
2,1000,42,Triumeq,OTHER,0,0,0,1,0,20.0,...,3,0.0,33.0,0.434783,-1,0.000000,3,0.0,56.0,-0.151515
3,1003,9,Retrovir Epivir,NRTI NRTI,1,0,0,0,0,8200.0,...,3,0.0,22.2,0.000000,700,0.000000,3,0.0,64.9,0.000000
4,1003,10,Retrovir Epivir,NRTI NRTI,1,0,0,0,0,3200.0,...,3,0.0,32.2,0.450450,1200,0.714286,3,0.0,48.9,-0.246533

# Dropping Rows without NRTI

In [117]:
# rows of dataset

In [41]:
len(data)

34728

In [118]:
# rows of dataset where NRTI is absent

In [40]:
len(data[data['NRTI'] == 0])

1100

In [119]:
# rows of dataset where NRTI is present

In [50]:
len(data[data['NRTI'] == 1])

33628

In [120]:
# finding percentage of total data where NRTI is present

In [51]:
len(data[data['NRTI'] == 1])/len(data) # visits with NRTI/total visits

0.9683252706749597

In [121]:
# since 96.8% of visits include NRTI, we drop visits without NRTI

In [72]:
data = data[data['NRTI'] != 0]

# Summary of Count of Rows

In [126]:
# Creating Categories

In [122]:
neither = ((data['NNRTI'] == 0) & (data['PI'] ==0)).sum()
nnrti_only = ((data['NNRTI'] == 1) & (data['PI'] == 0) & (data['OTHER'] == 0)).sum()
pi_only = ((data['NNRTI'] == 0) & (data['PI'] == 1) & (data['OTHER'] == 0)).sum()
both = ((data['NNRTI'] == 1) & (data['PI'] == 1)).sum()

In [144]:
# Showing counts of different drug combinations

In [123]:
print('Given that NRTI is present,')

print('The count of Neither is: ', neither)
print('The count of NNRTI only is: ', nnrti_only)
print('The count of PI only is: ', pi_only)
print('The count of both NNRTI and PI is: ', both)

Given that NRTI is present,
The count of Neither is:  2757
The count of NNRTI only is:  10952
The count of PI only is:  16435
The count of both NNRTI and PI is:  2411

# Grouping rows by distinct CASEIDs to compute biomarker averages

In [145]:
# specifying relevant biomarkers

In [135]:
columns_to_average = ['CD4N', 'CD4P', 'CD8N', 'CD8P', 'CD3N', 'CD3P', 'HSRAT', 'CD4DT', 'HGB_LC', 'HCT_LC', 'MCV_LC', 'PLATLC', 'WBC_LC', 'RBC_LC', 'DIFFLC', 'LYMPLC', 'LPCTLC', 'LPMMLC', 'POLYLC', 'PPCTLC']

In [137]:
averages_by_case_id = data.groupby('CASEID')[columns_to_average].mean().reset_index()

In [141]:
averages_by_case_id

,CASEID,CD4N,CD4P,CD8N,CD8P,CD3N,CD3P,HSRAT,CD4DT,HGB_LC,...,MCV_LC,PLATLC,WBC_LC,RBC_LC,DIFFLC,LYMPLC,LPCTLC,LPMMLC,POLYLC,PPCTLC
0,1000,302.000000,37.500000,305.500000,38.500000,642.500000,80.500000,1.000000,2014.000000,11.100000,...,102.500000,42.000000,3.100000,3.300000,2.000000,3.000000,27.000000,-1.000000,3.000000,62.000000
1,1003,183.857143,16.714286,624.428571,56.571429,915.285714,77.571429,0.314286,2000.857143,11.314286,...,106.457143,151.428571,3.385714,NaN,2.000000,3.000000,28.842857,957.142857,3.000000,56.228571
2,1004,596.142857,39.095238,646.000000,42.380952,1260.142857,82.714286,0.942857,2009.619048,12.523810,...,98.761905,128.428571,3.466667,3.825000,2.000000,3.000000,45.409524,-1.000000,3.000000,43.166667
3,1006,535.218750,37.250000,494.281250,34.468750,1061.500000,73.937500,1.087500,2006.781250,13.118750,...,114.156250,212.718750,4.815625,3.294706,2.000000,3.000000,30.146875,-1.000000,3.000000,59.734375
4,1011,1111.400000,43.800000,892.200000,35.200000,2068.000000,81.400000,1.260000,2012.200000,13.280000,...,96.600000,229.000000,6.680000,4.336000,2.000000,3.000000,38.120000,-1.000000,3.000000,52.920000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2664,9985,319.444444,21.000000,1006.888889,65.444444,1385.333333,90.333333,0.322222,2002.777778,11.155556,...,101.666667,283.333333,4.077778,NaN,2.111111,2.555556,34.388889,152.000000,2.555556,44.533333
2665,9988,431.750000,24.362500,571.000000,31.275000,998.000000,55.375000,0.850000,2002.500000,11.662500,...,85.831250,364.437500,5.235000,NaN,2.000000,3.000000,35.187500,-1.000000,3.000000,52.918750
2666,9990,248.833333,13.783333,1189.500000,64.350000,1493.666667,81.166667,0.233333,2002.833333,13.150000,...,106.050000,245.500000,4.101667,NaN,2.000000,3.000000,46.716667,-1.000000,3.000000,45.450000
2667,9993,548.660714,23.428571,1166.607143,49.428571,1798.607143,76.357143,0.473214,2007.928571,14.871429,...,90.200000,178.214286,8.403571,4.782500,1.892857,2.857143,6.003571,2223.535714,2.857143,18.175000
2668,9996,136.777778,8.111111,1030.333333,63.666667,1210.777778,74.555556,0.133333,2004.222222,10.833333,...,83.122222,191.444444,3.302222,NaN,2.000000,3.000000,50.800000,-1.000000,3.000000,34.000000